.resimSlider {
    height:500px;
   
    
}

body {
    padding: 60px;
    background-color: #f2f2f2;
   
 

}
.hakkimizda {
    background-color:#f2f2f2;
}
img:hover{
  opacity:0.5;
}


.ıcecekler {
    background-color: beige;
}
